{% extends "base.html" %}
{% block content %}
    <h2>Log in</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username_field" value="{{username_field}}">
          </td>
          <td class="error">
            {{error_username}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
          <td class="error">
            {{error_password}}
          </td>
        </tr>
      </table>
      <input type="submit">
    </form>
	<p>Don't have an account yet? <a href="/signup">Register here</a>
{% endblock %}
