{% extends "base.html" %}
{% block content %}

	{% if latest_version == 0 %}
		<div class="errors show">
			This is not the most recent version of this page. 
			To see the latest version, <a href="/_history{{page.link}}">go here</a>
		</div>
	{% endif %}

	<p class="edit-page">
		{% if username %}
			{% if version_id %}
				<a href="/_edit{{page.link}}?version={{ version_id }}">Edit this page<span></span> | </a>
			{% else %}
				<a href="/_edit{{page.link}}">Edit this page<span></span> | </a>
			{% endif %}
		{% else %}
			{% if page %}
				<a href="/login">Log in to edit this page</a> | 
			{% else %}
				<a href="/login">This page doesn't exist! Log in to create it</a> | 
			{% endif %}
		{% endif %}
		<a href="/_history{{page.link}}">
			History ({{ count }} revision{% if count != 1 %}s{% endif %})
		</a>
	</p>
	{% if page %}
		<small>Published {{ page.created.strftime('%d %b %Y at %H:%M:%S %Z') }}</small>
		<div class="single-post post-entry">{{page.content}}</div>
	{% endif %}
{% endblock %}