{% extends "base.html" %}
{% block content %}

		<h1>Wiki pages: Viewing the 30 latest pages</h1>

		<table id="wikipages">
			<tr class="table-header">
				<td class="title">Link</td>
				<td>Created</td>
				<td>Last edited on</td>
				<td>Revisions</td>
			</tr>
		{% for latest_page in latest_pages %}
			<tr{% if loop.index % 2 == 0 %} class="odd"{% endif %}>
				<td class="title"><a href="{{latest_page.link}}?version={{ latest_page.key().id() }}">{{ latest_page.link }}</a></td>
					<td>{{ latest_page.created.strftime('%d %b %Y at %H:%M:%S %Z') }}</td>
					<td>{{ latest_page.last_edited.strftime('%d %b %Y at %H:%M:%S %Z') }}</td>
					<td>{{ latest_page.version_number }}</td>
			</tr>
		{% endfor %}
		</table>	
		
{% endblock %}